/**
  * Import external libraries.
 **/
/**
  * Importing custom css
 **/
/**
  * This file contains intial configuration about the susy grid layout and
  * Media Queries.
 ***/
/**
  * SUSY SETTINGS
 **/
/**
  * Declaring spacing variable
***/
/**
  * Declaring the breakpoint
***/
@font-face {
  font-family: 'NimbusRegular';
  src: url("../fonts/NimbusRegular.eot");
  src: url("../fonts/NimbusRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/NimbusRegular.woff") format("woff"), url("../fonts/NimbusRegular.ttf") format("truetype");
}
@font-face {
  font-family: 'NimbusBold';
  src: url("../fonts/NimbusBold.eot");
  src: url("../fonts/NimbusBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NimbusBold.woff") format("woff"), url("../fonts/NimbusBold.ttf") format("truetype");
}
.mainContentRegion, input, textarea, keygen, select, button,
h3,
h4,
h1,
h2,
h5,
h6,
dt,
th,
label,
input[type="reset"],
input[type="submit"],
input[type="button"],
[class*="action-item"],
.button,
[id^="edit-cancel"],
input[id^="edit-submit"],
input[id^="edit-next"],
.fake-submit, .adminimal-frontend, .sec1 .flex-control-nav li a:hover, .sec1 .flex-control-nav li a.flex-active, .sec1 .flex-control-nav li a.active,
.sec1 .nivo-control:hover,
.sec1 .nivo-control.flex-active,
.sec1 .nivo-control.active {
  font-family: "Maison Neue Book", NimbusRegular, Calibri, Arial, Roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sec1 .synopsis-main-text, .sec2 .sec-item .detail-container .synopsis-main-text, .sec2 .info-wrapper, .sec3-inner .slider-right-side-text .synopsis-main-text h2,
.sec3-inner .flexslider-caption .synopsis-main-text h2, .sec4 .section-half .sec3-overlay div {
  font-family: "Maison Neue Bold", NimbusBold, Calibri, Arial, Roboto, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.sec1 .synopsis, .sec2 .sec-item .synopsis-header, .sec3-inner .slider-right-side-text .synopsis,
.sec3-inner .flexslider-caption .synopsis {
  font-family: "Maison Neue Light Italic", NimbusRegular, Calibri, Arial, Roboto, sans-serif;
  font-weight: 200;
  font-style: italic;
}

.sec1 .flex-control-nav li a,
.sec1 .nivo-control {
  font-family: "Maison Neue Medium", NimbusRegular, Calibri, Arial, Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/**
  * 4 COL layout classes for Mobile layout (< $bp)
 **/
.col-s-1 {
  width: 22.30216%;
  float: left;
  margin-right: 3.59712%;
}

.col-s-2 {
  width: 48.20144%;
  float: left;
  margin-right: 3.59712%;
}

.col-s-3 {
  width: 74.10072%;
  float: left;
  margin-right: 3.59712%;
}

.col-s-4 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.pre-s-1 {
  margin-left: 25.89928%;
}

.pre-s-2 {
  margin-left: 51.79856%;
}

.pre-s-3 {
  margin-left: 77.69784%;
}

.pre-s-4 {
  margin-left: 103.59712%;
}

.post-s-1 {
  margin-right: 25.89928%;
}

.post-s-2 {
  margin-right: 51.79856%;
}

.post-s-3 {
  margin-right: 77.69784%;
}

.post-s-4 {
  margin-right: 103.59712%;
}

/**
  * 12 COL layout classes for Desktop layout (=> $bp)
  */
@media (min-width: 960px) {
  .col-l-1 {
    width: 6.89655%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-2 {
    width: 15.3605%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-3 {
    width: 23.82445%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-4 {
    width: 32.2884%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-5 {
    width: 40.75235%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-6 {
    width: 49.2163%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-7 {
    width: 57.68025%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-8 {
    width: 66.1442%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-9 {
    width: 74.60815%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-10 {
    width: 83.0721%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-11 {
    width: 91.53605%;
    float: left;
    margin-right: 1.5674%;
  }
}

@media (min-width: 960px) {
  .col-l-12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 960px) {
  .pre-l-1 {
    margin-left: 8.46395%;
  }
}

@media (min-width: 960px) {
  .pre-l-2 {
    margin-left: 16.9279%;
  }
}

@media (min-width: 960px) {
  .pre-l-3 {
    margin-left: 25.39185%;
  }
}

@media (min-width: 960px) {
  .pre-l-4 {
    margin-left: 33.8558%;
  }
}

@media (min-width: 960px) {
  .pre-l-5 {
    margin-left: 42.31975%;
  }
}

@media (min-width: 960px) {
  .pre-l-6 {
    margin-left: 50.7837%;
  }
}

@media (min-width: 960px) {
  .pre-l-7 {
    margin-left: 59.24765%;
  }
}

@media (min-width: 960px) {
  .pre-l-8 {
    margin-left: 67.7116%;
  }
}

@media (min-width: 960px) {
  .pre-l-9 {
    margin-left: 76.17555%;
  }
}

@media (min-width: 960px) {
  .pre-l-10 {
    margin-left: 84.6395%;
  }
}

@media (min-width: 960px) {
  .pre-l-11 {
    margin-left: 93.10345%;
  }
}

@media (min-width: 960px) {
  .pre-l-12 {
    margin-left: 101.5674%;
  }
}

@media (min-width: 960px) {
  .post-l-1 {
    margin-right: 8.46395%;
  }
}

@media (min-width: 960px) {
  .post-l-2 {
    margin-right: 16.9279%;
  }
}

@media (min-width: 960px) {
  .post-l-3 {
    margin-right: 25.39185%;
  }
}

@media (min-width: 960px) {
  .post-l-4 {
    margin-right: 33.8558%;
  }
}

@media (min-width: 960px) {
  .post-l-5 {
    margin-right: 42.31975%;
  }
}

@media (min-width: 960px) {
  .post-l-6 {
    margin-right: 50.7837%;
  }
}

@media (min-width: 960px) {
  .post-l-7 {
    margin-right: 59.24765%;
  }
}

@media (min-width: 960px) {
  .post-l-8 {
    margin-right: 67.7116%;
  }
}

@media (min-width: 960px) {
  .post-l-9 {
    margin-right: 76.17555%;
  }
}

@media (min-width: 960px) {
  .post-l-10 {
    margin-right: 84.6395%;
  }
}

@media (min-width: 960px) {
  .post-l-11 {
    margin-right: 93.10345%;
  }
}

@media (min-width: 960px) {
  .post-l-12 {
    margin-right: 101.5674%;
  }
}

p, blockquote, pre, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary, dt, dd, li {
  max-width: 100%;
}

form input[type="submit"] {
  background: #2fa6e5;
  text-shadow: 0 1px 0 #0e3144;
  color: #fff;
}
form input[type="submit"]:focus, form input[type="submit"]:hover {
  color: white;
  background: #58b7ea;
  text-shadow: 0 1px 0 #1a3646;
}

body.node-type-homepage-fila {
  margin: 0 !important;
}

.mainContentRegion {
  margin: auto;
  padding-right: 0;
  padding-left: 0;
  max-width: 640;
  font-size: 14px;
  color: #03234c;
  @inlcude box-sizing(border-box);
}
@media screen and (min-width: 960px) {
  .mainContentRegion {
    padding-right: 0;
    padding-left: 0;
    max-width: 1366px;
    font-size: 12px;
  }
}
.mainContentRegion img, .mainContentRegion video, .mainContentRegion audio, .mainContentRegion figure {
  margin: 0;
}

.contentRegionInner {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.contentRegionInner:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 960px) {
  .contentRegionInner {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
  }
  .contentRegionInner:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.vertical-tabs-panes .form-item {
  text-align: left;
  width: 375px;
}
.vertical-tabs-panes .form-item select {
  width: 100%;
}
.vertical-tabs-panes .form-item.form-type-plupload {
  width: 100%;
}
.vertical-tabs-panes .form-item.form-item-animation-theme .description {
  display: block;
  margin-left: 1.9em;
}
.vertical-tabs-panes .form-media .edit,
.vertical-tabs-panes .form-media .browse {
  display: inline-block !important;
  background: #2fa6e5;
  text-shadow: 0 1px 0 #0e3144;
  color: #fff;
}
.vertical-tabs-panes .form-media .edit:focus, .vertical-tabs-panes .form-media .edit:hover,
.vertical-tabs-panes .form-media .browse:focus,
.vertical-tabs-panes .form-media .browse:hover {
  color: white;
  background: #58b7ea;
  text-shadow: 0 1px 0 #1a3646;
}

.vertical-tabs ul.vertical-tabs-list li.selected a {
  background-color: transparent !important;
}

#edit-animation .form-item {
  clear: both;
  width: 80%;
}
#edit-animation .form-item label {
  float: left;
  min-width: 200px;
  margin: 10px 20px 10px 0;
}
#edit-animation .form-item input,
#edit-animation .form-item select {
  width: 200px;
}
#edit-animation .form-item.form-item-animation-theme {
  overflow: auto;
}
#edit-animation .form-item.form-item-animation-theme .form-type-radio,
#edit-animation .form-item.form-item-animation-theme input {
  width: auto;
}
#edit-animation .form-item.form-item-animation-theme label {
  min-width: initial;
  float: none;
  margin: 0 .1em;
}

#edit-image-slides .vertical-tabs-list .vertical-tab-button {
  text-align: center;
}

.ui-icon-loading {
  display: none;
}

#block-views-exp-manage-users-page .description {
  display: none;
}

.node-type-homepage-fila.html {
  background: #fff;
}
.node-type-homepage-fila .ui-loader {
  display: none;
}
.node-type-homepage-fila .nivoSlider .field-collection-view-links {
  display: none;
}

#block-fila-admin-homepage-country-select {
  margin: -2px 0 0 20px;
  float: left;
}

.section_header {
  background-color: #444;
  margin: 0;
  padding: 0.5rem 1rem;
  color: #bbb;
  font-size: 24px;
  cursor: pointer;
  clear: both;
}
.section_header .qtip-div {
  color: #fff;
  float: right;
  font-size: 26px;
  margin: 0px 5px;
  font-weight: bold;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.section_header .qtip-div:hover {
  color: #03234c;
  background: #fff;
}

div.vertical-tabs {
  margin-top: 0;
}
div.vertical-tabs .vertical-tabs-pane {
  padding: 10px;
}
div.vertical-tabs .vertical-tabs-pane legend {
  display: none;
}
div.vertical-tabs .vertical-tabs-pane #edit-image-slides-image-tab-1 .fieldset-wrapper {
  text-align: right;
}

#fila-admin-homepage-form {
  background: #fff;
}

.vertical-tabs-pane div.form-item {
  margin-bottom: 10px;
}

.breadcrumb {
  padding: 5px 0 20px;
}

#block-system-user-menu {
  float: right;
}

#branding .primary,
#branding .secondary {
  clear: both;
}

.logo-container {
  margin-bottom: 15px;
}

#block-system-user-menu {
  margin-top: 15px;
}
#block-system-user-menu .content .menu {
  margin: 0;
  padding: 0;
}
#block-system-user-menu .content > .menu li {
  position: relative;
  float: left;
  margin-left: 10px;
  list-style: none;
}
#block-system-user-menu .content > .menu li a {
  color: #fff;
  font-weight: bold;
  padding: 5px 8px 5px 30px;
  text-decoration: none;
  cursor: pointer;
}
#block-system-user-menu .content > .menu li a:hover {
  background-color: #333;
}
#block-system-user-menu .content > .menu li:first-child .extra-wrapper > a {
  background-image: url(../img/tools_setup-white.png);
  background-position: 5% 50%;
  background-repeat: no-repeat;
  background-size: 22px;
  margin-right: 10px;
  float: left;
}
#block-system-user-menu .content > .menu li:nth-child(2) > a {
  background-image: url(../img/account-icon.png);
  background-position: 5% 50%;
  background-repeat: no-repeat;
  background-size: 21px;
}
#block-system-user-menu .content > .menu li:last-child > a {
  background-image: url(../img/logout-white.png);
  background-position: 5% 50%;
  background-repeat: no-repeat;
  background-size: 18px;
}
#block-system-user-menu .content > .menu li:last-child:before {
  border-left: 2px solid #fff;
  width: 0;
  height: 18px;
  content: '';
  position: absolute;
  top: 0;
  left: -7px;
}
#block-system-user-menu .content > .menu .expanded {
  float: left;
  margin: 0 0 0 10px;
  width: 77px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#block-system-user-menu .content > .menu .expanded > .menu {
  display: none;
}
#block-system-user-menu .content > .menu .expanded .extra-wrapper {
  width: 250px;
  overflow: hidden;
}
#block-system-user-menu .content > .menu .expanded .extra-wrapper > .menu {
  float: left;
  width: 162px;
}
#block-system-user-menu .content > .menu .expanded .extra-wrapper > .menu li {
  padding: 5px 0;
  margin: 0;
  list-style: none;
  float: left;
}
#block-system-user-menu .content > .menu .expanded .extra-wrapper > .menu li:first-child > a {
  background-image: url(../img/users-white.png);
  background-position: 5% 50%;
  background-repeat: no-repeat;
  background-size: 18px;
}
#block-system-user-menu .content > .menu .expanded .extra-wrapper > .menu li:first-child:before {
  border: 0;
}
#block-system-user-menu .content > .menu .expanded .extra-wrapper > .menu li:last-child > a {
  background-image: url(../img/assets-white.png);
  background-position: 5% 50%;
  background-repeat: no-repeat;
  background-size: 18px;
}
#block-system-user-menu .content > .menu .expanded .extra-wrapper > .menu li:last-child:before {
  border: 0;
}

#user-login {
  text-align: center;
}
#user-login > div {
  text-align: left;
  display: inline-block;
}

form .form-item {
  padding: 5px 0;
}

.region-header #fila-admin-block-user-country {
  font-size: 30px;
  padding: 5px;
  color: #fff;
}

#fila-admin-assets-form,
#fila-admin-homepage-form-simple {
  background: #fff;
  padding-bottom: 30px;
}
#fila-admin-assets-form fieldset.form-wrapper legend,
#fila-admin-assets-form .form-item,
#fila-admin-homepage-form-simple fieldset.form-wrapper legend,
#fila-admin-homepage-form-simple .form-item {
  padding: 20px 20px 5px;
}
#fila-admin-assets-form fieldset.form-wrapper legend + .form-item,
#fila-admin-assets-form .form-item + .form-item,
#fila-admin-homepage-form-simple fieldset.form-wrapper legend + .form-item,
#fila-admin-homepage-form-simple .form-item + .form-item {
  padding: 5px 20px;
}

#fila-admin-assets-form {
  position: relative;
}
#fila-admin-assets-form .form-submit {
  background: #2fa6e5;
  text-shadow: 0 1px 0 #0e3144;
  color: #fff;
}
#fila-admin-assets-form .form-submit:focus, #fila-admin-assets-form .form-submit:hover {
  color: #fff;
  background: #58b7ea;
  text-shadow: 0 1px 0 #1a3646;
}

#user-register-form {
  position: relative;
}
#user-register-form .form-wrapper {
  position: relative;
  background: #fff;
  padding: 20px 20px 30px;
}
#user-register-form .form-wrapper > .form-item {
  padding: 5px 0;
}
#user-register-form .form-wrapper .form-wrapper {
  padding: 0;
}
#user-register-form .form-actions.form-wrapper {
  position: absolute;
  top: 110px;
  right: 20px;
}

form .messages {
  clear: both;
}

#add-user-manage-users {
  background: #2fa6e5;
  text-shadow: 0 1px 0 #0e3144;
  color: #fff;
  padding: 0;
}
#add-user-manage-users a {
  padding: 10px 15px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
}
#add-user-manage-users a:focus, #add-user-manage-users a:hover {
  color: #fff;
  background: #58b7ea;
  text-shadow: 0 1px 0 #1a3646;
}

#assets-form-add-button {
  text-align: right;
}

#assets-form-add-button a,
#homepage-form-back-button a {
  background: #2fa6e5;
  text-shadow: 0 1px 0 #0e3144;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  padding: 10px 15px;
  margin: 5px 0;
  font-weight: bold;
}
#assets-form-add-button a:hover,
#homepage-form-back-button a:hover {
  color: #fff;
  background: #58b7ea;
  text-shadow: 0 1px 0 #1a3646;
}

.view-manage-users .view-header p {
  text-align: right;
}

#user-profile-form > div > .form-wrapper {
  position: relative;
  background: #fff;
  padding: 20px 20px 10px;
}

#user-profile-form > div > .form-wrapper.form-actions {
  padding: 0 20px 30px;
}

#edit-upload-upload .form-submit {
  display: none;
}

.form-type-media .preview .media-item {
  display: inline-block;
}

.user-info-from-cookie .homepage-form-button a {
  background: #2fa6e5;
  text-shadow: 0 1px 0 #0e3144;
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  margin: 0 0 1rem 0;
}
.user-info-from-cookie .homepage-form-button a:hover {
  color: #fff;
  background: #58b7ea;
  text-shadow: 0 1px 0 #1a3646;
}

@media screen and (max-width: 640px) {
  .sec1 .slides li {
    overflow: hidden;
  }
}

@media screen and (max-width: 640px) {
  .sec1 .slides li iframe,
  .sec1 .slides li img {
    height: 353px !important;
    max-width: initial !important;
    position: relative;
  }
}

@media screen and (max-width: 640px) {
  .sec1 .slides .fluid-width-video-wrapper {
    padding: 0 !important;
    line-height: 0;
  }
}

@media screen and (max-width: 640px) {
  .sec1 .slides li img {
    left: 0 !important;
    width: 100% !important;
  }
}

#skip-link {
  display: none;
}

.mainContentRegion {
  position: relative;
  z-index: 0;
}

.status-switch {
  margin: 3px 10px;
}

.sec1 {
  position: relative;
  background: #fff;
  z-index: 100;
  float: none;
}
.sec1 .flexslider {
  padding-bottom: 40px;
}
@media screen and (min-width: 960px) {
  .sec1 .flexslider {
    padding-bottom: 0;
  }
}
.sec1.blue-theme .flexslider .flex-nav-prev a,
.sec1.blue-theme .flexslider .nivo-prevNav,
.sec1.blue-theme .flexslider:hover .flex-nav-prev a,
.sec1.blue-theme .flexslider:hover .nivo-prevNav {
  background: url(../img/blue-left-arrow-new.png) 50% 50% no-repeat;
  background-size: 100%;
  left: -30px;
  color: transparent;
  text-indent: -99999999px;
}
.sec1.blue-theme .flexslider .flex-nav-prev a:focus,
.sec1.blue-theme .flexslider .nivo-prevNav:focus,
.sec1.blue-theme .flexslider:hover .flex-nav-prev a:focus,
.sec1.blue-theme .flexslider:hover .nivo-prevNav:focus {
  outline: none;
}
.sec1.blue-theme .flexslider .flex-nav-prev a:hover,
.sec1.blue-theme .flexslider .nivo-prevNav:hover,
.sec1.blue-theme .flexslider:hover .flex-nav-prev a:hover,
.sec1.blue-theme .flexslider:hover .nivo-prevNav:hover {
  left: -45px;
}
.sec1.blue-theme .flexslider .flex-nav-next a,
.sec1.blue-theme .flexslider .nivo-nextNav,
.sec1.blue-theme .flexslider:hover .flex-nav-next a,
.sec1.blue-theme .flexslider:hover .nivo-nextNav {
  background: url(../img/blue-right-arrow-new.png) 50% 50% no-repeat;
  background-size: 100%;
  right: -30px;
  color: transparent;
  text-indent: -99999999px;
}
.sec1.blue-theme .flexslider .flex-nav-next a:focus,
.sec1.blue-theme .flexslider .nivo-nextNav:focus,
.sec1.blue-theme .flexslider:hover .flex-nav-next a:focus,
.sec1.blue-theme .flexslider:hover .nivo-nextNav:focus {
  outline: none;
}
.sec1.blue-theme .flexslider .flex-nav-next a:hover,
.sec1.blue-theme .flexslider .nivo-nextNav:hover,
.sec1.blue-theme .flexslider:hover .flex-nav-next a:hover,
.sec1.blue-theme .flexslider:hover .nivo-nextNav:hover {
  right: -45px;
}
.sec1.blue-theme .flex-control-paging,
.sec1.blue-theme .nivo-controlNav {
  text-align: right;
}
.sec1.blue-theme .flex-control-paging a,
.sec1.blue-theme .flex-control-paging .nivo-control,
.sec1.blue-theme .nivo-controlNav a,
.sec1.blue-theme .nivo-controlNav .nivo-control {
  color: transparent;
}
@media screen and (min-width: 960px) {
  .sec1.blue-theme .flex-control-paging a,
  .sec1.blue-theme .flex-control-paging .nivo-control,
  .sec1.blue-theme .nivo-controlNav a,
  .sec1.blue-theme .nivo-controlNav .nivo-control {
    color: #fff;
  }
  .sec1.blue-theme .flex-control-paging a.flex-active, .sec1.blue-theme .flex-control-paging a.active,
  .sec1.blue-theme .flex-control-paging .nivo-control.flex-active,
  .sec1.blue-theme .flex-control-paging .nivo-control.active,
  .sec1.blue-theme .nivo-controlNav a.flex-active,
  .sec1.blue-theme .nivo-controlNav a.active,
  .sec1.blue-theme .nivo-controlNav .nivo-control.flex-active,
  .sec1.blue-theme .nivo-controlNav .nivo-control.active {
    background: #03234c;
  }
}
.sec1 .flexslider {
  border: 0;
  border-radius: 0;
  margin: 0;
}
.sec1 .flexslider .slides > li {
  position: relative;
}
@media screen and (min-width: 960px) {
  .sec1 .flexslider .slides > li {
    overflow: hidden;
  }
}
.sec1 .flexslider .slides > li img {
  -webkit-transition: 1.5s all ease-in-out;
  -moz-transition: 1.5s all ease-in-out;
  -ms-transition: 1.5s all ease-in-out;
  -o-transition: 1.5s all ease-in-out;
  transition: 1.5s all ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
@media screen and (min-width: 960px) {
  .sec1 .flexslider .slides > li img.zoomed {
    -webkit-transition: 1.5s all ease-in-out;
    -moz-transition: 1.5s all ease-in-out;
    -ms-transition: 1.5s all ease-in-out;
    -o-transition: 1.5s all ease-in-out;
    transition: 1.5s all ease-in-out;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.sec1 .flexslider .flex-control-nav li {
  margin: 0;
}
.sec1 .flexslider .flex-control-nav li a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.sec1 .flexslider .flex-direction-nav {
  display: none;
}
.sec1.white-theme .flexslider .flex-nav-prev .flex-prev,
.sec1.white-theme .flexslider .nivo-prevNav,
.sec1.white-theme .flexslider:hover .flex-nav-prev .flex-prev,
.sec1.white-theme .flexslider:hover .nivo-prevNav {
  background: url(../img/blue-left-arrow-new.png) 50% 50% no-repeat;
  background-size: 100%;
  left: -30px;
  color: transparent;
  text-indent: -99999999px;
}
.sec1.white-theme .flexslider .flex-nav-prev .flex-prev:focus,
.sec1.white-theme .flexslider .nivo-prevNav:focus,
.sec1.white-theme .flexslider:hover .flex-nav-prev .flex-prev:focus,
.sec1.white-theme .flexslider:hover .nivo-prevNav:focus {
  outline: none;
}
.sec1.white-theme .flexslider .flex-nav-prev .flex-prev:hover,
.sec1.white-theme .flexslider .nivo-prevNav:hover,
.sec1.white-theme .flexslider:hover .flex-nav-prev .flex-prev:hover,
.sec1.white-theme .flexslider:hover .nivo-prevNav:hover {
  left: -45px;
}
.sec1.white-theme .flexslider .flex-nav-prev .flex-prev:before,
.sec1.white-theme .flexslider .nivo-prevNav:before,
.sec1.white-theme .flexslider:hover .flex-nav-prev .flex-prev:before,
.sec1.white-theme .flexslider:hover .nivo-prevNav:before {
  content: none;
}
.sec1.white-theme .flexslider .flex-nav-next .flex-next,
.sec1.white-theme .flexslider .nivo-nextNav,
.sec1.white-theme .flexslider:hover .flex-nav-next .flex-next,
.sec1.white-theme .flexslider:hover .nivo-nextNav {
  background: url(../img/blue-right-arrow-new.png) 50% 50% no-repeat;
  background-size: 100%;
  right: -30px;
  color: transparent;
  text-indent: -99999999px;
}
.sec1.white-theme .flexslider .flex-nav-next .flex-next:focus,
.sec1.white-theme .flexslider .nivo-nextNav:focus,
.sec1.white-theme .flexslider:hover .flex-nav-next .flex-next:focus,
.sec1.white-theme .flexslider:hover .nivo-nextNav:focus {
  outline: none;
}
.sec1.white-theme .flexslider .flex-nav-next .flex-next:hover,
.sec1.white-theme .flexslider .nivo-nextNav:hover,
.sec1.white-theme .flexslider:hover .flex-nav-next .flex-next:hover,
.sec1.white-theme .flexslider:hover .nivo-nextNav:hover {
  right: -45px;
}
.sec1.white-theme .flexslider .flex-nav-next .flex-next:before,
.sec1.white-theme .flexslider .nivo-nextNav:before,
.sec1.white-theme .flexslider:hover .flex-nav-next .flex-next:before,
.sec1.white-theme .flexslider:hover .nivo-nextNav:before {
  content: none;
}
.sec1.white-theme .flex-control-paging,
.sec1.white-theme .nivo-controlNav {
  text-align: center;
}
@media screen and (min-width: 960px) {
  .sec1.white-theme .flex-control-paging,
  .sec1.white-theme .nivo-controlNav {
    text-align: right;
  }
}
.sec1.white-theme .flex-control-paging li a,
.sec1.white-theme .flex-control-paging .nivo-control,
.sec1.white-theme .nivo-controlNav li a,
.sec1.white-theme .nivo-controlNav .nivo-control {
  color: transparent;
}
@media screen and (min-width: 960px) {
  .sec1.white-theme .flex-control-paging li a,
  .sec1.white-theme .flex-control-paging .nivo-control,
  .sec1.white-theme .nivo-controlNav li a,
  .sec1.white-theme .nivo-controlNav .nivo-control {
    color: #03234c;
  }
  .sec1.white-theme .flex-control-paging li a:hover, .sec1.white-theme .flex-control-paging li a.flex-active, .sec1.white-theme .flex-control-paging li a.active,
  .sec1.white-theme .flex-control-paging .nivo-control:hover,
  .sec1.white-theme .flex-control-paging .nivo-control.flex-active,
  .sec1.white-theme .flex-control-paging .nivo-control.active,
  .sec1.white-theme .nivo-controlNav li a:hover,
  .sec1.white-theme .nivo-controlNav li a.flex-active,
  .sec1.white-theme .nivo-controlNav li a.active,
  .sec1.white-theme .nivo-controlNav .nivo-control:hover,
  .sec1.white-theme .nivo-controlNav .nivo-control.flex-active,
  .sec1.white-theme .nivo-controlNav .nivo-control.active {
    background: #fff;
  }
}
.sec1.arrows .nivo-directionNav {
  display: block;
}
.sec1.arrows .nivo-controlNav {
  display: none;
}
.sec1.buttons .nivo-directionNav {
  display: none;
}
.sec1.buttons .nivo-controlNav {
  display: block;
}
.sec1 .field-collection-view {
  padding: 0;
  margin: 0;
  border: 0;
}
.sec1 .flexslider .flex-next,
.sec1 .flexslider .flex-prev,
.sec1 .flexslider .nivo-prevNav,
.sec1 .flexslider .nivo-nextNav,
.sec1 .nivoSlider .flex-next,
.sec1 .nivoSlider .flex-prev,
.sec1 .nivoSlider .nivo-prevNav,
.sec1 .nivoSlider .nivo-nextNav {
  color: transparent;
  display: block;
  width: 75px;
  height: 30px;
}
.sec1 .flex-control-paging,
.sec1 .nivo-controlNav {
  position: relative;
  margin: 10px 0;
  padding: 0;
  z-index: 100;
  bottom: auto;
}
@media screen and (min-width: 960px) {
  .sec1 .flex-control-paging,
  .sec1 .nivo-controlNav {
    position: absolute;
    top: 49%;
    margin: 0;
    right: 150px;
    left: auto;
    bottom: auto;
    width: auto;
  }
}
.sec1 .flex-caption,
.sec1 .nivo-caption,
.sec1 .slider-overlay-text {
  background: transparent;
  position: absolute;
  left: 42px;
  top: 50%;
  bottom: auto;
  right: auto;
  max-width: -webkit-calc(50% - 42px);
  max-width: -moz-calc(50% - 42px);
  max-width: calc(50% - 42px);
  padding: 0;
  z-index: 100;
}
@media screen and (min-width: 960px) {
  .sec1 .flex-caption,
  .sec1 .nivo-caption,
  .sec1 .slider-overlay-text {
    top: 50%;
    left: 150px;
    max-width: -webkit-calc(50% - 150px);
    max-width: -moz-calc(50% - 150px);
    max-width: calc(50% - 150px);
  }
}
.sec1 .flex-caption .blue_theme,
.sec1 .nivo-caption .blue_theme,
.sec1 .slider-overlay-text .blue_theme {
  color: #03234c;
}
.sec1 .flex-caption .blue_theme a,
.sec1 .nivo-caption .blue_theme a,
.sec1 .slider-overlay-text .blue_theme a {
  color: #03234c;
}
.sec1 .flex-caption .white_theme,
.sec1 .nivo-caption .white_theme,
.sec1 .slider-overlay-text .white_theme {
  color: #fff;
}
.sec1 .flex-caption .white_theme a,
.sec1 .nivo-caption .white_theme a,
.sec1 .slider-overlay-text .white_theme a {
  color: #fff;
}
.sec1 .flex-control-nav li a,
.sec1 .nivo-control {
  margin: 0 3px;
  -webkit-border-radius: 100%;
  -moz-rborder-adius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  color: transparent;
  padding: 0;
  height: 11px;
  display: inline-block;
  font-size: 14px;
  background: #ccc;
  text-decoration: none;
}
@media screen and (min-width: 960px) {
  .sec1 .flex-control-nav li a,
  .sec1 .nivo-control {
    margin: 3px;
    color: #03234c;
    display: inline;
    height: auto;
    padding: 2px 8px;
    background: transparent;
  }
}
.sec1 .flex-control-nav li a:hover, .sec1 .flex-control-nav li a.flex-active, .sec1 .flex-control-nav li a.active,
.sec1 .nivo-control:hover,
.sec1 .nivo-control.flex-active,
.sec1 .nivo-control.active {
  background: #03234c;
  font-style: italic;
  font-weight: 300;
  -webkit-transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  -moz-transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  -ms-transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  -o-transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  -webkit-transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  -moz-transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  -ms-transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  -o-transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
}
@media screen and (min-width: 960px) {
  .sec1 .flex-control-nav li a:hover, .sec1 .flex-control-nav li a.flex-active, .sec1 .flex-control-nav li a.active,
  .sec1 .nivo-control:hover,
  .sec1 .nivo-control.flex-active,
  .sec1 .nivo-control.active {
    background: #fff;
  }
}
.sec1 .synopsis {
  font-size: 12px;
}
@media screen and (min-width: 960px) {
  .sec1 .synopsis {
    font-size: 18px;
  }
}
.sec1 .synopsis-main-text {
  font-size: 24px;
  font-weight: bold;
  line-height: 1em;
}
@media screen and (min-width: 960px) {
  .sec1 .synopsis-main-text {
    font-size: 46px;
    line-height: 46px;
  }
}
.sec1 .flex-direction-nav .flex-disabled {
  opacity: 1 !important;
}
.sec1 .flex-direction-nav a:before {
  content: none !important;
}

.html .qtip {
  max-width: 700px;
  max-height: 500px;
}
.html .qtip img {
  width: 100%;
  height: auto;
}

.field-collection-container {
  border: 0;
  margin: 0;
}

.field-collection-description,
.action-links-field-collection-add {
  display: none;
}

.sec2 {
  background: #f8f8f8;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .sec2 {
    margin-top: 70px;
  }
}
@media screen and (min-width: 1025px) {
  .sec2 {
    margin-top: -70px;
  }
}
.sec2 .jspDrag:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 25%;
  width: 1px;
  height: 50%;
  background-color: #f8f8f8;
  z-index: 10;
  -webkit-box-shadow: 2px 0 0 0 #f8f8f8, 4px 0 0 #f8f8f8;
  -moz-box-shadow: 2px 0 0 0 #f8f8f8, 4px 0 0 #f8f8f8;
  -ms-box-shadow: 2px 0 0 0 #f8f8f8, 4px 0 0 #f8f8f8;
  -o-box-shadow: 2px 0 0 0 #f8f8f8, 4px 0 0 #f8f8f8;
  box-shadow: 2px 0 0 0 #f8f8f8, 4px 0 0 #f8f8f8;
}
.sec2 .sec2-content {
  overflow: hidden;
  outline: none;
  line-height: normal;
  position: relative;
}
@media screen and (min-width: 960px) {
  .sec2 .sec2-content {
    height: 721px;
  }
}
.sec2 .sec2-content .tap-div {
  height: 30px;
  position: absolute;
  top: 50%;
  width: 100%;
}
@media screen and (max-width: 1100px) {
  .sec2 .sec2-content .tap-div::before {
    background: url(../img/blue-left-arrow-new.png) 50% 50% no-repeat;
    content: '';
    display: inline-block;
    position: absolute;
    height: 30px;
    width: 30%;
    z-index: 300;
    left: 0;
  }
}
@media screen and (max-width: 1100px) {
  .sec2 .sec2-content .tap-div::after {
    background: url(../img/blue-right-arrow-new.png) 50% 50% no-repeat;
    content: '';
    display: inline-block;
    position: absolute;
    height: 30px;
    width: 30%;
    z-index: 300;
    right: 0;
  }
}
.sec2 .jspHorizontalBar {
  background: transparent;
  height: 13px;
}
.sec2 .jspVerticalBar {
  background: transparent;
}
.sec2 .jspTrack {
  background: #f8f8f8;
}
.sec2 .jspTrack .jspDrag {
  background: #03234c;
}
.sec2 .image-container {
  position: relative;
}
.sec2 .image-container img {
  position: absolute;
  left: 0;
  bottom: 0;
}
@media screen and (min-width: 960px) {
  .sec2 .image-container img {
    position: relative;
  }
}
.sec2 .image-container.l {
  width: 588px;
}
@media screen and (min-width: 960px) {
  .sec2 .image-container.l {
    width: auto;
    height: auto;
  }
}
.sec2 .image-container.p {
  width: 364px;
}
@media screen and (min-width: 960px) {
  .sec2 .image-container.p {
    width: auto;
    height: auto;
  }
}
.sec2 .sec2-inner {
  display: inline-block;
  position: relative;
}
@media screen and (min-width: 960px) {
  .sec2 .sec2-inner {
    margin-left: 64px;
    padding-top: 0;
  }
}
.sec2 .sec-item {
  float: left;
}
@media screen and (max-width: 960px) {
  .sec2 .sec-item {
    margin-right: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .sec2 .sec-item {
    margin-right: 60px;
  }
}
.sec2 .sec-item .detail-container {
  height: 140px;
  margin-left: 20%;
  color: #03234c;
}
@media screen and (min-width: 960px) {
  .sec2 .sec-item .detail-container {
    height: 150px;
    margin-left: 0;
  }
}
.sec2 .sec-item .detail-container .synopsis-main-text {
  line-height: 1.5em;
  text-decoration: underline;
  font-size: 24px;
}
.sec2 .sec-item .detail-container .synopsis-main-text a {
  color: #03234c;
}
.sec2 .sec-item .synopsis-header {
  padding-top: 20px;
  font-size: 18px;
  line-height: 1em;
}
.sec2 .sec-item .images-processed {
  position: relative;
}
.sec2 .sec-item .images-processed .image-asset {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 200;
  background: #000;
  width: 100%;
}
.sec2 .sec-item .play-pause-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 250;
  background: url(../img/play-w.png) center center no-repeat;
  cursor: pointer;
}
.sec2 .sec-item .play-pause-btn:hover {
  background: url(../img/play-b.png) center center no-repeat;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sec2 .info-wrapper {
  text-transform: uppercase;
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 2000;
  overflow: hidden;
  -webkit-border-radius: 100%;
  -moz-rborder-adius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
@media screen and (max-width: 1100px) {
  .sec2 .info-wrapper {
    display: none;
  }
}
.sec2 .info-wrapper .info-inner {
  background: #fff;
  color: #03234c;
  width: 123px;
  height: 123px;
  opacity: 0.8;
}
.sec2 .info-wrapper .rounded-info {
  width: 80px;
  padding: 45px 25px;
  text-align: center;
  line-height: 1.2em;
}

.sec2-inner {
  position: relative;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.sec2-inner.dragging-enabled {
  cursor: pointer;
}
.sec2-inner .sec-item .playing .play-pause-btn {
  background-image: none;
}
.sec2-inner .sec-item .overlay-image {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 225;
}
.sec2-inner .sec-item .overlay-image.show-images {
  display: block;
}

.flexslider .flex-control-paging li {
  margin: 0 3px;
}
.flexslider .flex-control-paging li a.flex-active {
  color: #03234c;
}
.flexslider .slides > li {
  position: relative;
}

.sec3-inner {
  background: #fff;
  padding: 74px 42px 73px;
  position: relative;
}
@media screen and (min-width: 960px) {
  .sec3-inner {
    padding: 74px 45px 74px 63px;
  }
}
.sec3-inner .flexslider,
.sec3-inner .nivoSlider {
  width: 100%;
  position: relative;
  border: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 960px) {
  .sec3-inner .flexslider,
  .sec3-inner .nivoSlider {
    width: 100%;
  }
  .sec3-inner .flexslider li,
  .sec3-inner .nivoSlider li {
    overflow: hidden;
  }
  .sec3-inner .flexslider li img,
  .sec3-inner .nivoSlider li img {
    width: 72.575516%;
    margin: 0 0 0 1px;
    float: left;
  }
}
.sec3-inner .flexslider:hover .flex-direction-nav .flex-prev,
.sec3-inner .nivoSlider:hover .flex-direction-nav .flex-prev {
  left: -35px;
}
.sec3-inner .flexslider:hover .flex-direction-nav .flex-next,
.sec3-inner .nivoSlider:hover .flex-direction-nav .flex-next {
  right: -35px;
}
.sec3-inner .flexslider .flex-control-paging,
.sec3-inner .nivoSlider .flex-control-paging {
  padding: 12px 0 0;
}
@media screen and (min-width: 960px) {
  .sec3-inner .lookbook-theme .flexslider .flex-control-paging {
    display: none;
  }
}
@media screen and (min-width: 960px) {
  .sec3-inner .lookbook-theme .flex-direction-nav {
    position: absolute;
    top: 30%;
    width: 72.575516%;
  }
}
.sec3-inner .lookbook-theme .flex-direction-nav,
.sec3-inner .lookbook-theme .nivo-directionNav {
  display: block;
}
.sec3-inner .lookbook-theme .flex-direction-nav a,
.sec3-inner .lookbook-theme .nivo-directionNav a {
  text-indent: -99999px;
  width: 74px;
  height: 12px;
  top: 30%;
  background-size: cover !important;
}
.sec3-inner .lookbook-theme .flex-direction-nav a:focus,
.sec3-inner .lookbook-theme .nivo-directionNav a:focus {
  outline: none;
}
.sec3-inner .lookbook-theme .flex-direction-nav .flex-prev,
.sec3-inner .lookbook-theme .flex-direction-nav .nivo-prevNav,
.sec3-inner .lookbook-theme .nivo-directionNav .flex-prev,
.sec3-inner .lookbook-theme .nivo-directionNav .nivo-prevNav {
  background: url(../img/blue-left-arrow-new.png) 50% 50% no-repeat;
  background-size: 100%;
  left: -30px;
  display: none;
  text-indent: -99999px;
  color: transparent;
  opacity: 0.7;
}
@media screen and (min-width: 960px) {
  .sec3-inner .lookbook-theme .flex-direction-nav .flex-prev,
  .sec3-inner .lookbook-theme .flex-direction-nav .nivo-prevNav,
  .sec3-inner .lookbook-theme .nivo-directionNav .flex-prev,
  .sec3-inner .lookbook-theme .nivo-directionNav .nivo-prevNav {
    display: block;
  }
}
.sec3-inner .lookbook-theme .flex-direction-nav .flex-prev:hover,
.sec3-inner .lookbook-theme .flex-direction-nav .nivo-prevNav:hover,
.sec3-inner .lookbook-theme .nivo-directionNav .flex-prev:hover,
.sec3-inner .lookbook-theme .nivo-directionNav .nivo-prevNav:hover {
  left: -40px;
}
.sec3-inner .lookbook-theme .flex-direction-nav .flex-prev:before,
.sec3-inner .lookbook-theme .flex-direction-nav .nivo-prevNav:before,
.sec3-inner .lookbook-theme .nivo-directionNav .flex-prev:before,
.sec3-inner .lookbook-theme .nivo-directionNav .nivo-prevNav:before {
  content: none;
}
.sec3-inner .lookbook-theme .flex-direction-nav .flex-next,
.sec3-inner .lookbook-theme .flex-direction-nav .nivo-nextNav,
.sec3-inner .lookbook-theme .nivo-directionNav .flex-next,
.sec3-inner .lookbook-theme .nivo-directionNav .nivo-nextNav {
  background: url(../img/blue-right-arrow-new.png) 50% 50% no-repeat;
  background-size: 100%;
  right: -30px;
  display: none;
  text-indent: -99999px;
  color: transparent;
  opacity: 0.7;
}
@media screen and (min-width: 960px) {
  .sec3-inner .lookbook-theme .flex-direction-nav .flex-next,
  .sec3-inner .lookbook-theme .flex-direction-nav .nivo-nextNav,
  .sec3-inner .lookbook-theme .nivo-directionNav .flex-next,
  .sec3-inner .lookbook-theme .nivo-directionNav .nivo-nextNav {
    display: block;
  }
}
.sec3-inner .lookbook-theme .flex-direction-nav .flex-next:hover,
.sec3-inner .lookbook-theme .flex-direction-nav .nivo-nextNav:hover,
.sec3-inner .lookbook-theme .nivo-directionNav .flex-next:hover,
.sec3-inner .lookbook-theme .nivo-directionNav .nivo-nextNav:hover {
  right: -40px;
}
.sec3-inner .lookbook-theme .flex-direction-nav .flex-next:before,
.sec3-inner .lookbook-theme .flex-direction-nav .nivo-nextNav:before,
.sec3-inner .lookbook-theme .nivo-directionNav .flex-next:before,
.sec3-inner .lookbook-theme .nivo-directionNav .nivo-nextNav:before {
  content: none;
}
.sec3-inner .lookbook-theme .nivo-controlNav {
  display: none;
}
.sec3-inner .slider-right-side-text,
.sec3-inner .flexslider-caption {
  position: relative;
  color: #03234c;
  background: transparent;
  margin-top: 40px;
  word-wrap: break-word;
}
.sec3-inner .slider-right-side-text h2,
.sec3-inner .flexslider-caption h2 {
  text-transform: capitalize;
  color: #03234c;
}
@media screen and (min-width: 960px) {
  .sec3-inner .slider-right-side-text,
  .sec3-inner .flexslider-caption {
    margin: 0 0 0 3.5%;
    position: absolute;
    right: 0;
    width: 24%;
    bottom: 0;
  }
}
.sec3-inner .slider-right-side-text .synopsis,
.sec3-inner .flexslider-caption .synopsis {
  font-size: 18px;
  line-height: 1;
}
.sec3-inner .slider-right-side-text .synopsis-main-text a,
.sec3-inner .flexslider-caption .synopsis-main-text a {
  text-decoration: none;
}
.sec3-inner .slider-right-side-text .synopsis-main-text h2,
.sec3-inner .flexslider-caption .synopsis-main-text h2 {
  font-size: 46px;
  line-height: 1;
  margin: 10px 0 35px;
  text-decoration: underline;
}
@media screen and (max-width: 980px) {
  .sec3-inner .slider-right-side-text .synopsis-main-text h2,
  .sec3-inner .flexslider-caption .synopsis-main-text h2 {
    margin: 10px 0 20px;
  }
}
.sec3-inner .slider-right-side-text .synopsis-main-text p,
.sec3-inner .flexslider-caption .synopsis-main-text p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
}
.sec3-inner .slider-right-side-text .synopsis-main-text p:last-child,
.sec3-inner .flexslider-caption .synopsis-main-text p:last-child {
  margin-bottom: 0;
}
.sec3-inner .sec3-wrapper {
  position: relative;
}
@media screen and (min-width: 960px) {
  .sec3-inner .sec3-wrapper .slider-right-side-text {
    bottom: 0;
    right: 0;
    top: auto;
    width: 24%;
  }
}
.sec3-inner.five-stories .slides {
  position: relative;
}
.sec3-inner.five-stories .flex-direction-nav {
  display: none;
}
.sec3-inner.five-stories .flex-control-paging,
.sec3-inner.five-stories .nivo-controlNav {
  bottom: auto;
  margin: 12px 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100;
}
@media screen and (min-width: 960px) {
  .sec3-inner.five-stories .flex-control-paging,
  .sec3-inner.five-stories .nivo-controlNav {
    margin: 0 0 0 3.5%;
    top: 5% !important;
    right: 0;
    text-align: left;
    width: 24%;
  }
}
.sec3-inner.five-stories .flex-control-paging li a,
.sec3-inner.five-stories .nivo-control {
  -webkit-border-radius: 100%;
  -moz-rborder-adius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  background: #f8f8f8;
  color: transparent;
  display: inline-block;
  font-size: 14px;
  height: 10px;
  margin: 0 3px;
  text-indent: 0;
}
@media screen and (min-width: 960px) {
  .sec3-inner.five-stories .flex-control-paging li a,
  .sec3-inner.five-stories .nivo-control {
    margin: 3px;
    color: #03234c;
    padding: 2px 5px;
    height: auto;
    background: transparent;
    width: auto;
  }
}
.sec3-inner.five-stories .flex-control-paging li a.flex-active,
.sec3-inner.five-stories .nivo-control.flex-active {
  background: #03234c;
  font-weight: normal;
  font-style: italic;
  color: transparent;
  -webkit-transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  -moz-transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  -o-transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  transition: background 500ms cubic-bezier(1, 0.495, 0, 0.415);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  -moz-transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  -o-transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  transition-timing-function: cubic-bezier(1, 0.495, 0, 0.415);
  /* custom */
}
@media screen and (min-width: 960px) {
  .sec3-inner.five-stories .flex-control-paging li a.flex-active,
  .sec3-inner.five-stories .nivo-control.flex-active {
    color: #fff;
    padding: 3.5px 9px;
  }
}

.sec4 {
  overflow: hidden;
  text-align: center;
}
.sec4 .section-half {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  vertical-align: top;
}
@media screen and (min-width: 960px) {
  .sec4 .section-half {
    width: 50%;
    float: left;
    max-width: 100%;
  }
}
.sec4 .section-half img {
  max-width: 100%;
  height: auto;
  float: left;
}
.sec4 .section-half .sec3-overlay {
  position: absolute;
  top: 45%;
  left: 42px;
  font-size: 32px;
  max-width: 403px;
  text-align: left;
  padding: 0 10px 0 0;
}
@media screen and (min-width: 960px) {
  .sec4 .section-half .sec3-overlay {
    left: 45px;
    font-size: 42px;
    padding: 0 15px 0 0;
  }
}
.sec4 .section-half .sec3-overlay div {
  line-height: 1;
}
.sec4 .section-half .sec3-overlay .explore {
  margin-top: 25px;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}
@media screen and (max-width: 960px) {
  .sec4 .section-half .sec3-overlay .explore {
    display: none;
  }
}
.sec4 .section-half .close-button {
  position: absolute;
  top: 12px;
  right: 20px;
  color: #03234c;
  font-size: 12px;
  font-weight: lighter;
  z-index: 1010;
  cursor: pointer;
}
@media screen and (min-width: 960px) {
  .sec4 .section-half .close-button {
    font-size: 14px;
  }
}
.sec4 .section-half .close-button .close-btn {
  background: url("../img/close.png") 50% 50% no-repeat;
  display: block;
  width: 100%;
  height: 34px;
  background-size: 24px 24px;
  background-position: 50% 70%;
}
.sec4 .section-half.men-section {
  color: #fff;
  position: relative;
  display: inline-block;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .sec4 .section-half.men-section {
    display: block;
  }
}
@media screen and (max-width: 960px) {
  .sec4 .section-half.men-section a.anchor-mob {
    color: #fff;
    text-decoration: underline;
  }
}
@media screen and (min-width: 960px) {
  .sec4 .section-half.men-section a.anchor-mob {
    color: #fff;
    text-decoration: none;
  }
}
.sec4 .section-half.men-section .section-items {
  left: 0;
  padding: 10px 14.348462% 38px 9.224011%;
  text-align: left;
}
@media screen and (min-width: 960px) {
  .sec4 .section-half.men-section .section-items {
    left: 100%;
  }
}
.sec4 .section-half.women-section {
  background: #fff;
  color: #03234c;
  display: inline-block;
}
@media screen and (min-width: 960px) {
  .sec4 .section-half.women-section {
    display: block;
  }
}
@media screen and (max-width: 960px) {
  .sec4 .section-half.women-section a.anchor-mob {
    color: #03234c;
    text-decoration: underline;
  }
}
@media screen and (min-width: 960px) {
  .sec4 .section-half.women-section a.anchor-mob {
    color: #03234c;
    text-decoration: none;
  }
}
.sec4 .section-half.women-section .section-items {
  left: 0;
  padding: 10px 9.224011% 38px 14.348462%;
  text-align: left;
}
@media screen and (min-width: 960px) {
  .sec4 .section-half.women-section .section-items {
    left: -100%;
  }
}
.sec4 .section-half .section-items {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  display: none;
}
.sec4 .section-half .section-items .item {
  float: left;
  width: 25.6%;
  margin-right: 40.033674%;
  color: #03234c;
  font-size: 13px;
}
@media screen and (min-width: 700px) {
  .sec4 .section-half .section-items .item {
    width: 37.6%;
    margin-right: 23.033674%;
  }
}
@media screen and (min-width: 960px) {
  .sec4 .section-half .section-items .item {
    height: 255px;
    width: 37.6%;
    margin-right: 23.033674%;
  }
}
@media screen and (min-width: 1100px) {
  .sec4 .section-half .section-items .item {
    height: 334px;
  }
}
.sec4 .section-half .section-items .item:nth-child(2n+1) {
  margin-right: 0;
}
.sec4 .section-half .section-items .item a {
  color: #03234c;
  background: #fff;
  display: block;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sec4 .section-half .section-items .item .money-wrapper {
  margin-bottom: 30px;
}
@media screen and (min-width: 960px) {
  .sec4 .section-half .section-items .item .money-wrapper {
    margin-right: 0;
  }
}
.sec4 .section-half .shop-all-link {
  clear: both;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .sec4 .section-half .shop-all-link {
    position: absolute;
    bottom: 38px;
    width: 100%;
    left: 0;
  }
}
.sec4 .section-half .shop-all-link a {
  color: #03234c;
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
}

.sec5 {
  background: #f8f8f8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  padding: 54px 0 54px 0%;
  text-align: center;
}
@media screen and (min-width: 960px) {
  .sec5 {
    padding: 50px 0 50px 32.942898%;
    text-align: left;
  }
}
.sec5 .main-red-text {
  color: #e31e3c;
  font-size: 14px;
  line-height: 1.4em;
  font-weight: bold;
}
@media screen and (min-width: 960px) {
  .sec5 .main-red-text {
    font-size: 24px;
  }
}
.sec5 .tnc-app {
  color: #ccc;
  font-style: italic;
  font-size: 10px;
}
@media screen and (min-width: 960px) {
  .sec5 .tnc-app {
    font-size: 13px;
  }
}
.sec5 .tnc-app a {
  color: #ccc;
  font-style: italic;
}
.sec5 .tnc-app a:hover {
  color: #bbb;
}

.sec6 {
  background: #fff;
  color: #03234c;
  display: none;
}
.sec6 .sec6-inner {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 65px;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner {
    max-width: 100%;
  }
}
.sec6 .sec6-inner .grid-container {
  clear: both;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .grid-container {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .sec6 .sec6-inner .grid-container .item {
    display: table-cell;
    vertical-align: bottom;
  }
}
.sec6 .sec6-inner .item {
  color: #fff;
  padding-top: 40px;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .item {
    color: #03234c;
    padding-bottom: 84px;
  }
}
.sec6 .sec6-inner .item img {
  max-width: 100%;
  height: auto;
}
.sec6 .sec6-inner .item .image-detail-container {
  position: relative;
}
.sec6 .sec6-inner .item .image-detail-container .detail-container {
  position: absolute;
  top: 45%;
  left: 15px;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .item .image-detail-container .detail-container {
    position: relative;
    left: 0;
    top: 0;
  }
}
.sec6 .sec6-inner .item .synopsis {
  font-style: italic;
  font-weight: lighter;
}
.sec6 .sec6-inner .item .synopsis-main-content {
  margin-top: 10px;
  font-size: 22px;
  text-decoration: underline;
  font-weight: bold;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .item .synopsis-main-content {
    font-size: 26px;
  }
}
.sec6 .sec6-inner .item-1 {
  width: 50%;
  float: left;
  padding-top: 42px;
}
.sec6 .sec6-inner .item-1 img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .item-1 {
    float: none;
    padding-top: 40px;
    padding-left: 4.75842%;
    width: 24.08492%;
  }
  .sec6 .sec6-inner .item-1 img {
    width: auto;
    height: auto;
  }
}
.sec6 .sec6-inner .item-2 {
  width: 50%;
  float: left;
  padding-top: 42px;
}
.sec6 .sec6-inner .item-2 img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .item-2 {
    float: none;
    padding-top: 40px;
    width: 31.55198%;
    padding-left: 4.39239%;
  }
  .sec6 .sec6-inner .item-2 img {
    width: auto;
    height: auto;
  }
}
.sec6 .sec6-inner .item-3 {
  clear: both;
  width: 57.03125%;
  padding-left: 21.5625%;
  padding-right: 21.5625%;
  padding-top: 95px;
  color: #03234c;
  margin-bottom: 110px;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .item-3 {
    clear: none;
    padding-top: 0;
    padding-left: 12.29868%;
    padding-right: 4.75842%;
    width: 44.2899%;
    margin-bottom: 0;
  }
}
.sec6 .sec6-inner .sec6-header {
  position: relative;
  color: #03234c;
  padding-left: 42px;
  padding-top: 62px;
  max-width: 640px;
  margin: auto;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .sec6-header {
    position: absolute;
    top: 12.5%;
    left: 0;
    padding-left: 4.75842%;
    width: 19.3265%;
    padding-top: 0;
  }
}
@media screen and (max-width: 1100px) and (min-width: 960px) {
  .sec6 .sec6-inner .sec6-header {
    top: 8%;
  }
}
.sec6 .sec6-inner .sec6-header a {
  color: #03234c;
}
.sec6 .sec6-inner .sec6-header .synopsis {
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 30px;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .sec6-header .synopsis {
    margin-bottom: 5px;
  }
}
.sec6 .sec6-inner .sec6-header h2 {
  font-size: 32px;
  line-height: 1.2em;
  font-weight: bold;
  margin-bottom: 22px;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .sec6-header h2 {
    margin-bottom: 10px;
  }
}
.sec6 .sec6-inner .sec6-header a {
  display: block;
  float: left;
  margin-right: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
@media screen and (min-width: 960px) {
  .sec6 .sec6-inner .sec6-header a {
    width: 40%;
    padding-bottom: 0;
    margin: 5px 20% 5px 0;
  }
  .sec6 .sec6-inner .sec6-header a:nth-child(2n) {
    margin-right: 0;
  }
}
