.flexslider {
  .flex-control-paging {
    li {
      margin: 0 3px;
      a {
        &.flex-active {
          color: $navy;
        }
      }
    }
  }
  .slides {
    > li {
      position: relative;
    }
  }
}

.sec3-inner {
  background: $white;
  padding: 74px 42px 73px;
  position: relative;
  @media #{$large-screen} {
    padding: 74px 45px 74px 63px;
  }
  .flexslider,
  .nivoSlider {
    width: 100%;
    position: relative;
    border: 0;
    margin-bottom: 0;
    @media #{$large-screen} {
      width: 100%;
      li {
        overflow: hidden;
        img {
          width: 72.575516%;
          margin: 0 0 0 1px;
          float: left;
        }
      }
    }
    &:hover {
      .flex-direction-nav {
        .flex-prev {
          left: -35px;
        }
        .flex-next {
          right: -35px;
        }
      }
    }
    .flex-control-paging {
      padding: 12px 0 0;
    }
  }
  .lookbook-theme {
    .flexslider {
      .flex-control-paging {
        @media #{$large-screen} {
          display: none;
        }
      }
    }
    .flex-direction-nav {
      @media #{$large-screen} {
        position: absolute;
        top: 30%;
        width: 72.575516%;
      }
    }
    .flex-direction-nav,
    .nivo-directionNav {
      display: block;
       a {
        text-indent: -99999px;
        width: 74px;
        height: 12px;
        top: 30%;
        background-size: cover !important;
        &:focus {
          outline: none;
        }
      }
      .flex-prev,
      .nivo-prevNav {
        background: url(../img/blue-left-arrow-new.png) 50% 50% no-repeat;
        background-size: 100%;
        left: -30px;
        display: none;
        text-indent: -99999px;
        color: transparent;
        opacity: 0.7;
        @media #{$large-screen} {
          display: block;
        }
        &:hover {
          left: -40px;
        }
        &:before {
          content: none;
        }
      }
      .flex-next,
      .nivo-nextNav {
        background: url(../img/blue-right-arrow-new.png) 50% 50% no-repeat;
        background-size: 100%;
        right: -30px;
        display: none;
        text-indent: -99999px;
        color: transparent;
        opacity: 0.7;
        @media #{$large-screen} {
          display: block;
        }
        &:hover {
          right: -40px;
        }
        &:before {
          content: none;
        }
      }
    }
    .nivo-controlNav {
      display: none;
    }
  }
  .slider-right-side-text,
  .flexslider-caption {
    position: relative;
    color: $navy;
    background: transparent;
    margin-top: 40px;
    word-wrap: break-word;
    h2 {
      text-transform: capitalize;
      color : $navy;
    }
    @media #{$large-screen} {
      margin: 0 0 0 3.5%;
      position: absolute;
      //left: 72.2%; // giving extra spacing
      right: 0;
      width: 24%;
      bottom: 0;
    }
    .synopsis {
      @extend %italicFont;
      font-size: 18px;
      line-height: 1;
    }
    .synopsis-main-text {
      a {
        text-decoration: none;
      }
      h2 {
        @extend %boldFont;
        font-size: 46px;
        line-height: 1;
        margin: 10px 0 35px;
        text-decoration: underline;
        @media screen and (max-width: 980px) {
          margin: 10px 0 20px;
        }
      }
      p {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.2;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .sec3-wrapper {
    position: relative;
    .slider-right-side-text {
      @media #{$large-screen} {
        //left: 72.2%;
        bottom: 0;
        right: 0;
        top: auto;
        width: 24%;
      }
    }
  }
  &.five-stories {
    .slides {
      position: relative;
    }
    .flex-direction-nav {
      display: none;
    }
    .flex-control-paging,
    .nivo-controlNav {
      bottom: auto;
      // left: 0;
      margin: 12px 0;
      padding: 0;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 100;
      @media #{$large-screen} {
        margin: 0 0 0 3.5%;
        top: 5% !important;
        // left: 72.2%; // giving extra spacing
        right: 0;
        text-align: left;
        width: 24%;
      }
    }
    .flex-control-paging li a,
    .nivo-control {
      @include rounded(100%);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
      background: $light-grey;
      color: transparent;
      display: inline-block;
      font-size: 14px;
      height: 10px;
      margin: 0 3px;
      text-indent: 0;
      @media #{$large-screen} {
        margin: 3px;
        color: $navy;
        padding: 2px 5px;
        // display: inline;
        height: auto;
        background: transparent;
        width: auto;
      }
      &.flex-active {
        background: $navy;
        font-weight: normal;
        font-style: italic;
        color: transparent;
        -webkit-transition: background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415);
           -moz-transition: background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415);
             -o-transition: background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415);
                transition: background 500ms cubic-bezier(1.000, 0.495, 0.000, 0.415); /* custom */
        -webkit-transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415);
           -moz-transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415);
             -o-transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415);
                transition-timing-function: cubic-bezier(1.000, 0.495, 0.000, 0.415); /* custom */
        @media #{$large-screen} {
          color: $white;
          padding: 3.5px 9px;
        }
      }
    }
  }
}
